/* ACERCA DE */

.textoaceraDe {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 30px;
    padding-top: 60px;
}

.footerAcerca {
    margin-top: 100px;
}

h2 {
    text-align: center;
    font-family: "Madimi One", sans-serif;
    padding-top: 50px;
}