/* CONTACTO */

.negocio {
    font-size: 13px;
}

.contacto {
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}