@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* INDEX */
img{
    height: 110px ;
    width: 107px ;
}
.navbar{
    background-color: #9c9c9c; 
    width: 100%;
}
h4{
    color: black;
    font-family: 'Protest Revolution', sans-serif;
    font-size: 21px !important;
}
.comencemos {
    background-color: blue;
    border-radius: 5px;
}
a{
    color: black !important;
    font-size: 15px;
}
.nav-item{
    display: flex;
    justify-content: end !important;
}